/* 
    Document   : style
    Created on : 30-mag-2013, 14.18.23
    Author     : charlie
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    display: block;
    padding: 0px;
    margin: 0px;
   background-color: #ccc;
}

#container{
    display: block;
    


}


#inner_container{
    width: 960px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 30px;
}

#inner_inner_container{
    display: block;
    
}

#header{
    width: 940px;
    margin: 0 5px 0 5px;
    background-color: #fff;
    height: 105px;
    margin: 0 auto;
}

#container #logo img{
    float: left;
    display: inline;
    margin: 0px;
    padding: 0px;
    
    
}

#logo{
    
   width: 160px;
   display: block;

}

#logo_label{
display: block;
    
}

#logo_label_1{
    font-family:Arial Black, Arial Black, Gadget, sans-serif;
    font-size: 35px;
    color: #000080;
    font-weight: bold;
    padding-top: 30px;
   margin-left: 175px;
    
}
#logo_label_2{
    font-family:Arial Black, Arial Black, Gadget, sans-serif;
    font-size: 14px;
    color: #FCA800;
    margin-left: 180px;
    margin-top: -4px;
}

#left_content{
    /* width: 750px;*/
    display: inline-block;
    width: 750px;
    
    /*float: left;*/

    margin-bottom: 30px;
    
}

#right_content{
    float: right;
    width: 210px;
    
    /*background-color: #9B410E;
    float: left;*/
    

}

.menu_div ul{
    padding:0px;
    margin:0px;
    margin-right: 10px;
    margin-top: 30px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    color:#FFF;
    list-style:none;
    text-indent:15px;
}
.menu_div ul li{
    background:#184678;
    line-height:28px;
    border-bottom:1px solid #333;
}
.menu_div ul li a{
    text-decoration:none;
    color:#FFF;
    display:block;
}
.menu_div ul li a:hover{
    background:#FCA800;
    color: #184678;
}

.menu_div ul li:hover{
    border-color: #184678;
}
.menu_div ul li#active{
    background-color:#FCA800;
}
#areaRis_link{
    color: #184678;
}

.menu_div ul li ul{
    margin: 5px 0 0 4px;

}

.menu_div ul li ul li{
       background-color: #1C528D;
        padding-left: 8px;
        
}

.menu_div ul li ul li a{
            background: url("../imageintro/icon_menu.gif") no-repeat center left;
}

.menu_div ul li ul li:hover{
     border-right: solid 4px #F3AD28;
}

.menu_div ul li ul li a:hover{
     color:#FFF ;
     background: url("../imageintro/icon_menu.gif") no-repeat center left;
}
/* INIZIO BREADCRUMBS*/

#breadcrumb{
    display: block;
    width: 95%;
    margin: 0 auto;
    margin-top: 30px;
}


    ul, li {
    list-style-type:none;
    padding:0;
    margin:0;
    }

    #crumbs {
    border:1px solid #dedede;
    height:2.3em;
    }

    
    #crumbs li {
    float:left;
    line-height:2.3em;
    padding-left:.75em;
    color:#777;
    }

    
    #crumbs li a {
    display:block;
    padding:0 15px 0 0;
    background:url(../imageintro/crumbs.gif) no-repeat right center;
    }

    #crumbs li a:link, #crumbs li a:visited {
    text-decoration:none;
    color:#777;
    }

    #crumbs li a:hover, #crumbs li a:focus {
    color:#dd2c0d;
    }


/*FINE BREADCRUMBS*/

#contentPageTitle{
    color: #000080;
    font-family: Arial Black,Arial Black,Gadget,sans-serif;
    font-size: 30px;
    width: 95%;
    margin: 0 auto;
    margin-top: 10px;

}

#contenitoreTemplateVariabile{
    display: block;
    border: 1px solid #ccc;
    width: 95%;
    margin: 0 auto;
    height: 800px;
    background-color: #E6E6E6;
}

/* INIZIO CSS SU STYLE POST */

#postContainer{
    display: block;
    width: 100%;
    height: 100%;
    background-color: #F3AD28;
}
/* FINE CSS SU STYLE POST */

/* INIZIO CSS SU BOARD */

#board_table,
.board_row,
.board_column {
    margin: 0; padding: 0; border: 0;    border-collapse: collapse;
}

#board_table { 
    display: table; width: 98%;
    margin: 10px auto;
    border: 1px solid #CCCCCC;   
        border-collapse: collapse;
        background-color: #FFF;
}

.noLinkStyle{
    text-decoration: none;
    color: #E39700 ;
}

.board_row { 
    clear: both; 
    display: table-row;
    width: 100%;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;

      /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  -o-transition:.8s;
  -ms-transition:.8s;
  -moz-transition:.8s;
  -webkit-transition:.8s;
  /* ...and now for the proper property */
  transition:.8s;
   

}
.board_column { 
    /*float: left;*/ 
    width: auto; 
    display: table-cell;
        border-right: 1px solid #CCCCCC;
        padding-left: 5px;
        padding: 10px 0 10px 10px;
        max-height: 15px;
        overflow: hidden;
}           

.last_column { 
        border-right: none;
        width: 200px;

}

#empty_field{
    width: 50px;
    
}

.first_row{
    
    color: #E39700;

    
}

.first_row div{

  font-weight: bold;
  font-size: 14px;
    
}

#command_field{
    width: 100px;
    
}

.last_column img{
    
    margin-left: 10px;
    margin-right: 4px;
}

#last_column a{
    font-size: 15px;
    text-decoration: none;

}

#select_all {
    background-color: #FFF;
    width: 696px;;
    position: absolute;
        border: 1px solid #CCCCCC;
    border-collapse: collapse;
}

#select_all a{
    font-size: 13px;
    color:#E39700 ;
    text-decoration: none;
    
}

#arrowDown{
    margin-right: 5px;    
}

.board_row:hover {
    
    cursor: pointer;
    background-color: #FCA800;
    
}

.first_row:hover{
    
    cursor: pointer;
    background:none;
    
}

/* FINE CSS SU BOARD */


