/* 
    Document   : style
    Created on : 30-mag-2013, 14.18.23
    Author     : charlie
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    width: 100%;
}

#container{
    background-color: #ccc;
}


#inner_container{
    width: 960px;
    
}

#header{
    width: 950px;
    margin: 0 5px 0 5px;
}